# Database
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=sylius
MYSQL_USER=sylius
MYSQL_PASSWORD=changeme

# Sylius
SYLIUS_DATABASE_DRIVER=pdo_mysql
SYLIUS_DATABASE_HOST=mysql
SYLIUS_DATABASE_PORT=3306
SYLIUS_DATABASE_NAME=sylius
SYLIUS_DATABASE_USER=sylius
SYLIUS_DATABASE_PASSWORD=changeme
SYLIUS_SECRET=CHANGE_ME_TO_RANDOM_SECRET
SYLIUS_APP_DEV_PERMITTED=1

# Mailer
SYLIUS_MAILER_TRANSPORT=smtp
SYLIUS_MAILER_HOST=mailhog
SYLIUS_MAILER_PORT=1025
SYLIUS_MAILER_USER=null
SYLIUS_MAILER_PASSWORD=null
